<!-- for dummy use only -->

<form action="/create-userProfile" method="POST" enctype="multipart/form-data">
    <label for="pfp">Profile Photo:</label>
    <input type="file" id="pfp" name="pfp"><br><br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="business-name">Business Name:</label>
    <input type="text"  name="businessName"><br><br>

    <label for="business-address">Business Address:</label>
    <input type="text"  name="businessAddress"><br><br>

    <label for="business-details">Business Details:</label>
    <textarea  name="businessDetails"></textarea><br><br>

    <label for="social-links">instagram:</label>
    <input type="text"  name="instagram"><br> <br>
    <label for="social-links">facebook</label>
    <input type="text"  name="facebook"><br><br>

    <label for="social-links">twitter</label>
    <input type="text"  name="twitter"><br><br>

    <label for="social-links">district</label>
    <input type="text"  name="district"><br><br>

    <label for="skills">Skills:</label>
    <input type="text" id="skills" name="skills"><br><br>
    <label for="skills">theme_id</label>
    <input type="text" id="skills" name="theme_id"><br><br>

    <button type="submit">Submit</button>
</form>
