<!-- FILEPATH: /c:/Users/91636/Desktop/Artisan-Backend/views/form2.ejs -->

<form action="/addNewTemplate" method="POST" enctype="multipart/form-data">
    <label for="template">Select an HTML file:</label>
    <input type="file" id="template" name="template">
    <br><br>

    <label for="theme_id">theme_id:</label>
    <input type="text"  name="theme_id"><br><br>
    <input type="submit" value="Submit">
</form>
